asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.2.13
django-admin-rangefilter==0.5.4
django-crispy-forms==1.9.0
django-filter==2.2.0
django-grappelli==2.14.1
django-haystack==3.0b2.dev4+gea3f8c9
django-js-asset==1.2.2
djangorestframework==3.10.3
djoser==2.0.3
drf-haystack==1.8.6
drf-yasg==1.17.1
elasticsearch==5.5.3
idna==2.9
inflection==0.4.0
itypes==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysqlclient==1.4.6
packaging==20.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.14.0
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.8
