{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Patent list</h1>
        <a href="{% url 'patent_new' %}"><button>Add</button></a>
    </div>
    {% for patent in patents %}
    <div>
        <p>
            <a href="{% url 'patent_detail' pk=patent.pk %}">{{ patent.publication_number }} : {{ patent.title }}</a>
        </p>
    </div>
    {% endfor %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/patents?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="/patents?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}    
{% endblock %}
